<h2 id='title'>Welcome to Ember.js</h2>

{{#if session.isAuthenticated}}
  The application is logged in. <a href="#" {{ action 'invalidateSession' }}>Log out.</a>
{{else}}
  The application is not logged in. Please load the app directly at the '/authcheck' route to demonstrate the issue.
{{/if}}

{{outlet}}
